.input-group-text {
    width: 85px;
}

#createNewButton,
#printButton {
    display: none;
}

#address-suggestions {
    max-height: 150px;
    /* Giới hạn chiều cao của vùng gợi ý */
    overflow-y: auto;
    /* Hiển thị thanh cuộn khi vùng gợi ý vượt quá chiều cao */
}

.address-suggestion {
    padding: 5px;
    cursor: pointer;
}

.address-suggestion:hover {
    background-color: #f0f0f0;
}